@using ClusteringComplex.Entities
@model ClusteringComplex.Entities.Role


<h3>Добавление роли</h3>
<br />


@using (Html.BeginForm())
    {
<p>Название роли: @Html.EditorFor(m => m.NameOfRole)</p>
<p>Описание роли (необязательно): @Html.EditorFor(m => m.DescriptionOfRole)</p>
<input type="submit" value="Добавить роль" />
    }
