@using ClusteringComplex.Entities
@model ClusteringComplex.Entities.User

<table>
    <thead>
        <tr>
            <td>Описание</td>
            <td>Значение</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Имя </td>
            <td>@TempData.Peek("FirstName")</td>
        </tr>
        <tr>
            <td>Фамилия </td>
            <td>@TempData.Peek("LastName")</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td>@TempData.Peek("PhoneNumber")</td>
        </tr>
        <tr>
            <td>Логин </td>
            <td>@TempData.Peek("Login") </td>
        </tr>
    </tbody>
</table>