

<table>
    <thead>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Номер телефона</td>
            <td>Логин</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Login</td>
                </tr>
            }
        }
    </tbody>
</table>
